.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-button);
  color: var(--color-button-text);
  align-items: center;

  padding: 3rem 16rem 5rem;
}

.footer a {
  color: var(--color-button-text);
}

.sideA,
.sideB,
.sideC {
  /* border: 1px solid black; */
}

.footer__content {
  /* border: 1px solid black; */
  display: flex;
  flex: 1;
  width: 100%;
  /* padding: 3rem 0 0; */
  margin-bottom: 10rem;
}

.sideA {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;

  margin-right: 4rem;
}

.sideA h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.sideA p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.sideB {
  display: flex;
  flex-direction: column;
  flex: 2;
  /* justify-content: space-between; */
  align-items: center;

  margin-right: 4rem;
}

.sideB p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.footer_links-container {
  display: flex;
  /* margin-bottom: 10rem; */
}

.footer_links-container p:not(:last-child) {
  margin-right: 2rem;
}

.sideC {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    padding: 2rem;
  }

  .footer__content {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .sideA {
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .sideA h1 {
    font-size: 32px;
    line-height: 32px;
  }

  .sideB {
    flex: 2;
    align-items: flex-start;

    margin-bottom: 2rem;
  }

  .sideB p {
    margin-bottom: 0.5rem;
  }

  .footer_links-container {
    flex-direction: column;
  }
}
