.contact {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h1:first-child {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

.contact__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  margin-bottom: 5rem;
}

.contact__content {
  display: flex;
  flex: 1;
}

.contact__sideA {
  display: flex;
  flex: 1;
  flex-direction: column;

  margin-right: 3rem;
}

.contact__sideA h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 46px;
}

.contact__icons {
  margin-top: 1rem;
}

.contact__sideB {
  /* border: 1px solid black; */
  display: flex;
  flex: 2;
  flex-direction: column;

  width: 28rem;
}

.contact__sideB input {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;

  padding: 1rem;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 1rem;
}

.contact__sideB textarea {
  height: 15rem;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  border: 0px;

  padding: 1rem;
  margin-bottom: 1rem;
}

.contact__info-container input:focus,
.contact__sideB textarea:focus {
  border: 3px solid black;
}

.contact__button-container {
  display: flex;
}

.contact__button {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  /* width: 30%; */
  padding: 0.5rem;
}

.contact__button p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .contact__info-container input {
    height: 3rem;
  }

  .contact__button {
    /* width: 55%; */
    padding: 0.3rem;
  }

  .contact__button p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .contact h1:first-child {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 0.5rem;
  }
  .contact__subtitle {
    margin-bottom: 4rem;
  }

  .contact__content {
    flex-direction: column;
  }

  .contact__sideA {
    margin: 0;
    margin-bottom: 2rem;
  }

  .contact__sideB {
    width: 100%;
    flex: 1;
    /* border: 1px solid black; */
  }

  .contact__button {
    /* width: 45%; */
  }
}
