.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding: 4rem 6rem; */
  padding: 4rem 16rem;

  /* border: 1px solid black; */
}

.projects__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-align: center;

  margin-bottom: 1rem;
}

.projects__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  margin-bottom: 4rem;
}

@media screen and (max-width: 1050px) {
  .projects {
    padding: 4rem 0;
  }
}
@media screen and (max-width: 768px) {
  .projects {
    padding: 4rem 0;
  }
  .projects__subtitle {
    margin-bottom: 1rem;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 480px) {
  .projects__title {
    font-size: 32px;
    line-height: 30px;
  }

  .projects__subtitle {
    font-size: 16px;
    line-height: 18px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1rem !important;
  }
}

/* -------------------SWIPER------------------- */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--color-button);
  font-weight: 800;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}
