.header {
  display: flex;
  padding: 4rem 8rem;
}

.header__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;  */

  /* margin-right: 5rem; */
}

.header__content h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.header__content h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;

  margin-bottom: 2rem;
}

.header__description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  width: 63%;
  margin-bottom: 3rem;
}

.header__buttons-container {
  display: flex;
  /* flex: 1; */
}

.header__buttons-button {
  background-color: var(--color-button);
  display: flex;
  align-items: center;
  border-radius: 5px;

  padding: 1rem 1.5rem;
  margin-right: 2rem;
}

.header__buttons-button p {
  color: var(--color-button-text);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  margin-right: 0.5rem;
}

.header__photo {
  display: flex;
  flex: 1;
  justify-content: center;

  /* background-color: #8cbdb9; */
}

.header__photo img {
  width: 65%;
  height: 100%;
  border-radius: 146.5px;
  background-color: #8cbdb9;
}

@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column-reverse;
  }

  .header__photo {
    margin-bottom: 2rem;
  }

  .header__photo img {
    width: 50%;
  }

  .header__description {
    width: 100%;
  }

  .header__content h2 {
    font-size: 28px;
    line-height: 30px;
    text-align: start;

    /* font-size: 32px;
  line-height: 48px; */
  }

  .header__content h1 {
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 1rem;

    /* font-size: 52px;
    line-height: 78px; */
  }

  .header__description {
    /* font-size: 16px;
    line-height: 24px; */
    margin-bottom: 2rem;

    /* font-size: 18px;
  line-height: 27px; */
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 550px) {
  .header {
    padding: 4rem 2rem;
    flex-direction: column-reverse;
  }

  .header__content {
    justify-content: center;
  }

  .header__content h2 {
    font-size: 18px;
    line-height: 28px;
    text-align: start;
  }

  .header__content h1 {
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 1rem;
  }

  .header__description {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 2rem;
  }

  .header__buttons-container {
    justify-content: space-between;
  }

  .header__buttons-button {
    margin: 0;
  }
}
