.header {
  /* border: 1px solid black; */
  display: flex;
  padding: 4rem 8rem;
}

.header__content,
.header__pic {
  /* border: 1px solid black; */
}

.header__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center;  */

  /* margin-right: 5rem; */
}

.header__content h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.header__content h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;

  margin-bottom: 2rem;
}

.header__description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  width: 63%;
  margin-bottom: 3rem;
}

.header__buttons-container {
  display: flex;
  /* flex: 1; */
}

.header__buttons-button {
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 5px;

  padding: 0.5rem 1rem;
  margin-right: 2rem;
}

.header__buttons-button p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  margin-right: 0.5rem;
}

.header__pic {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__pic img {
  width: 50%;
  height: 100%;
  border-radius: 146.5px;
}
